{% extends 'base.html' %}
{% block head %}
<title>About Us</title>
{% endblock %}


{% block body %}
<center><div class = "team"><h1 align="center" color = "red" ><span>TEAM </span><span>SANKALP</span></h1></div>
<br>
    <div class = "teammembers">
    <span>
        <h2>Team members involved in developing the website</h2>

    </span>
    <br>
    <ul><b>
        <li>SWASTHIK NAYAK (LEAD)</li>
        <li>TULSI(CHAMPION)</li>
        <li>K VENKATESH BHAT</li>
        <li>APOORVA</li>
        <li>RAGHAVENDRA PAI</li>
        <li>VAIBHAV NAYAK</li>
        <li>CHAITHRA BALIGA</li>
    </b></ul>
    </div>
<br>
    <div class = "technologies" >
    <span>
        <h2>Technologies used in buliding the website : </h2>
    </span>
    <ul>
        <li> HTML-CSS</li>
        <li> Js-Jquery</li>
        <li> API's</li>
        <li> Flask</li>

    </ul>
    <br>
    <span><h2>The Language used is: Python</h2></span>
    </div>

<br>
    <div class = "timetaken">
    <span>
        <h3>6 hours of time was utilized by the all the 7 members in a productive way.</h3>
    </span>
    </div>
    <br>
</center>
{% endblock %}
