{% extends 'base.html' %}
{% block head %}
<title>Politics</title>
{% endblock %}


{% block body %}

<section class = "banner">
    <div class = "banner-main-content">
        <h2>GET INDIA'S LATEST NEWS</h2>
        <h3>India's Leading News Portal</h3>
        <button>
            <a href = "/aboutus">Know More</a>
        </button>
        <div class = "current-news-head">
            <h3>Amazon to invest Rs 20,761 crore to build AWS Cloud centre in Telangana
                <span>by arun chakravarty</span></h3>
            <h3>Another Round Of India-China Talks Soon, Latest Discussions Inconclusive
                <span>by irfan khan</span></h3>
            <h3>Earth Observation Satellite Is ISRO's First Launch Since Covid Lockdown
                <span>by shweta patel</span></h3>
            <h3>As WhatsApp Pay goes live, India brings new rule to limit use of Google Pay, PhonePe and other UPI apps
                <span>by eddy coehlo</span></h3>
        </div>
    </div>
    <div class = "banner-sub-content">
        <div class = "hot-topic">
            <img src = "https://images.livemint.com/img/2020/11/08/600x338/joebiden1rtr_1604818019811_1604818028157.jpg"alt = "">
            <div class = "hot-topic-content">
                <h2>THow Joe Biden could turn a fractured picture to his advantage - Mint</h2>
                <h3>Livemint</h3>
                <p>An almost evenly divided Senate and a more closely divided House could be a combination that empowers moderates in both parties</p>
                <a href = "https://www.livemint.com/news/world/how-joe-biden-could-turn-a-fractured-picture-to-his-advantage-11604817661474.html">Read More</a>
            </div>
        </div>
        <div class = "hot-topic">
            <img src = "https://english.cdn.zeenews.com/sites/default/files/2020/11/08/898019-russian-film.jpg" alt = "">
            <div class = "hot-topic-content">
                <h2>Actress required with `chest girth of 112 cm`, Russia set to shoot a film in space</h2>
                <h3>Zee Media Bureau</h3>
                <p>Tom Cruise has competition? Yes, we can say so! Russia is also all set to shoot a film in space and has laid out certain specifications for its lead</p>
                <a href = "https://zeenews.india.com/hollywood/actress-required-with-chest-girth-of-112-cm-russia-set-to-shoot-a-film-in-space-2323301.html">Read More</a>
            </div>
        </div>
        <div class = "hot-topic">
            <img src = "https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2020/11/08/Pictures/_6a2de6f2-218a-11eb-8d0b-9e4c602505c8.jpg" alt = "">
            <div class = "hot-topic-content">
                <h2>Ropax Ferry Service will decrease transportation costs, aid ease of business, says PM Modi</h2>
                <h3>hindustantimes.com</h3>
                <p>Ropax Ferry Service will decrease transportation costs, aid ease of business, says PM Modi</p>
                <a href = "https://www.hindustantimes.com/india-news/ropax-ferry-service-will-decrease-transportation-costs-aid-ease-of-business-says-pm-modi/story-csrXbNgsDGDaWduGfyZUeJ.html">Read More</a>
            </div>
        </div>
        <div class = "hot-topic">
            <img src = "https://bsmedia.business-standard.com/_media/bs/img/article/2020-11/08/full/1604815643-3778.jpg" alt = "">
            <div class = "hot-topic-content">
                <h2>Are we alone? Study hints at 300 mn habitable worlds in Milky Way galaxy</h2>
                <h3>Shibu Tripathi</h3>
                <p>Before Nasa retired the Kepler space telescope in 2018, nine years of the telescope's observations revealed that there were billions of planets in our galaxy</p>
                <a href = "https://www.business-standard.com/article/current-affairs/we-re-not-alone-study-hints-at-300-mn-habitable-worlds-in-milky-way-galaxy-120110800260_1.html">Read More</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}