{% extends 'base.html' %}
{% block head %}
<title>Sports</title>
{% endblock %}


{% block body %}

<section class = "banner">
    <div class = "banner-main-content">
        <h2>GET INDIA'S LATEST NEWS</h2>
        <h3>India's Leading News Portal</h3>
        <button>
            <a href = "/aboutus">Know More</a>
        </button>
        <div class = "current-news-head">
            <h3>Amazon to invest Rs 20,761 crore to build AWS Cloud centre in Telangana
                <span>by arun chakravarty</span></h3>
            <h3>Another Round Of India-China Talks Soon, Latest Discussions Inconclusive
                <span>by irfan khan</span></h3>
            <h3>Earth Observation Satellite Is ISRO's First Launch Since Covid Lockdown
                <span>by shweta patel</span></h3>
            <h3>As WhatsApp Pay goes live, India brings new rule to limit use of Google Pay, PhonePe and other UPI apps
                <span>by eddy coehlo</span></h3>
        </div>
    </div>
    <div class = "banner-sub-content">
        <div class = "hot-topic">
            <img src = "https://www.hindustantimes.com/rf/image_size_960x540/HT/p2/2020/11/08/Pictures/_9415831a-2196-11eb-8734-93f916536cd4.jpg"alt = "">
            <div class = "hot-topic-content">
                <h2>He's not an impactful player in that position 2019: Gambhir explains why he would pick Shaw over Rahane...</h2>
                <h3>hindustantimes.com</h3>
                <p>In an pre-match analysis video chat on ESPNCricinfo, former India cricketer Gautam Gambhir was asked to name his playing XI for DC for the match.</p>
                <a href = "https://www.hindustantimes.com/cricket/he-is-not-an-impactful-player-in-that-position-gautam-gambhir-explains-why-he-would-pick-prithvi-shaw-over-ajinkya-rahane-in-delhi-capitals-playing-xi-against-sunrisers/story-Ov3Hw0HbQXKdJUfist1HTK.html">Read More</a>
            </div>
        </div>
        <div class = "hot-topic">
            <img src = "https://images.thequint.com/thequint%2F2019-04%2F608628a3-0934-4b37-a8d3-b882cc61dab4%2FGAZI_0700.JPG?rect=0%2C0%2C3873%2C2033&w=1200&auto=format%2Ccompress&ogImage=true" alt = "">
            <div class = "hot-topic-content">
                <h2>Kane Williamson's Form Crucial for SRH against DC: Sanjay Bangar</h2>
                <h3>The Quint</h3>
                <p>Talking about Delhi Capitals, Bangar said that Shikhar Dhawan has to fire for them if they want to make the finals</p>
                <a href = "https://www.thequint.com/indian-premier-league-ipl/kane-williamsons-form-crucial-for-sunrisers-hyderabad-against-delhi-capitals-sanjay-bangar.html">Read More</a>
            </div>
        </div>
        <div class = "hot-topic">
            <img src = "https://cdn.vox-cdn.com/thumbor/uqVijr7f-Noa5hwXxRiIqKmVTY0=/0x0:2025x1060/fit-in/1200x630/cdn.vox-cdn.com/uploads/chorus_asset/file/22021071/1284426723.jpg" alt = "">
            <div class = "hot-topic-content">
                <h2>Five talking points from Barcelona 5-2 Real Betis - Barca Blaugranes</h2>
                <h3>Gill Clark</h3>
                <p>A much-needed win for Ronald Koeman's side</p>
                <a href = "https://www.barcablaugranes.com/barcelona-la-liga/2020/11/8/21554299/five-talking-points-from-barcelona-5-2-real-betis.html">Read More</a>
            </div>
        </div>
        <div class = "hot-topic">
            <img src = "https://img1.hscicdn.com/image/upload/f_auto/esci/i/cricket/cricinfo/1205399_1296x729.jpg" alt = "">
            <div class = "hot-topic-content">
                <h2>Mahmudullah to miss PSL playoffs after testing positive for Covid-19</h2>
                <h3>Mohammad Isam</h3>
                <p>Multan Sultans had roped in Mahmudullah in place of Moeen Ali, and he was supposed to leave Dhaka on November 9</p>
                <a href = "https://www.espncricinfo.com/story/_/id/30275881/mahmudullah-miss-psl-playoffs-testing-positive-covid-19.html">Read More</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}